<!--Resolucion de video  width:1320 height: 619-->
<div class="bg-dark">
    <h1 class="display-3 mx-auto text-light" style="width: 200px;">Estrenos</h1>
    <div class="card mb-3">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/p3Qo0234y1g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">
            <h5 class="card-title">Contra lo imposible (2019)</h5>
            <p class="card-text"> El diseñador de autos americano Carrol Shelby y el conductor Ken Miles luchan contra la interferencia corporativa, las leyes de la física y sus propios demonios personales para crear un revolucionario auto de carreras para Ford y desafiar a Ferrari en las 24 horas de Le Mans en 1966.</p>
            <dt class="col-sm-3">Género:Acción | Biografía | Drama</dt>     
            <dt class="col-sm-3">Audio:Latino e Inglés subtitulada</dt> 
            <p class="card-text"><small class="text-muted">Director:James Mangold</small></p>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dnQRalx6lzE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card-body">
        <h5 class="card-title">1917 (2019)</h5>
        <p class="card-text"> 6 de abril de 1917. Mientras un regimiento se alista para adentrarse en territorio enemigo, dos soldados reciben la tarea de correr contra el tiempo para entregar un mensaje que evitará que 1600 hombres caminen directo hacia una trampa mortal.</p>
        <dt class="col-sm-3">Género:Drama | Guerra</dt>     
        <dt class="col-sm-3">Audio:Latino e Inglés subtitulada</dt> 
        <p class="card-text"><small class="text-muted">Director:Sam Mendes</small></p>
    </div>
</div>

